<div class="form-row">
    <input
        type="{{#if isPassword}}password{{else}}text{{/if}}"
        name="{{fieldName}}"
        value="{{value}}"
        class="form-field {{#if isError}}-error{{/if}}"
        {{#if required}}required{{/if}}
    />
    <div class="placeholder">{{placeholder}}</div>
    <div class="form-note {{#if isError}}-error{{/if}}">{{note}}</div>
</div>